<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<title>Besoins Pages</title>
<th:block th:include="layout/header"></th:block>

</head>



<body>

	<br>
	<div class="container">
		<h1>Table des Besoins</h1>
		<div class="row col-md-7 table-responsive">
				<table id="BesoinsTable" class="table">
				<thead>
					<tr> 
	
						
						<th>Nom de service</th>
						<th>description</th>
						<th>prix</th>
						<th>date de publication</th>
						<th>Clients</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="besoinsClient, rowStat: ${besoinsClients}"
						th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
						<td th:text="${besoinsClient.nomBesoin}">Nom de Besoin</td>
						<td th:text="${besoinsClient.description}">description</td>
						<td th:text="${besoinsClient. prix}">prix</td>
						<td th:text="${besoinsClient.date_publication}">date de publication</td>
						<td><a th:href="@{/voirClient/{id}(id=${besoinsClient.client.id})}">Voir_Client</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>