<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<title>Home</title>
<th:block th:include="layout/header"></th:block>



</head>



<body>


	<div class="container">
	<div class="card" >
					<img class="card-img-top" src="/api/images?background=brico"
						alt="JSA Card image" />

		<h1 class="text-center" style="margin-top: 50px; margin-bottom: 50px">
			HTF 1er site d'annonces gratuites des professionnels au Maroc</h1>
           </div>
		<div class="row">

			<div class="col-sm-4">
				<h4 class="text-center">Travaux de plâtrerie peinture</h4>
				<div class="card">
					<img class="card-img-top" src="/api/images?background=peinture.png"
						alt="JSA Card image" />
					<div class="card-body">
						<h4 class="card-title">Peindre en bricolage</h4>
						<p class="card-text">bricolage de plâtre, bricolage de
							peinture (effectuer une retouche de peinture), bricolage de
							papier peint (retouche de tapisserie, retirer les moisissures
							autour d'une fenêtre ou dans une salle d'eau..), bricolage au
							plafond, déposer, décaper, nettoyer, peindre et reposer les
							volets,</p>

						<a th:href="@{/afficheBricoleurs/{nomService}(nomService=${tpp})}" class="btn btn-primary">Contact</a>
						
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<h4 class="text-center">Travaux de plomberie</h4>
				<div class="card">
					<img class="card-img-top" src="/api/images?background=plombie"
						alt="JSA Card image" />
					<div class="card-body">
						<h4 class="card-title">Bricolage de plomberie</h4>
						<p class="card-text">(changer un joint, purger un radiateur,
							brancher une machine à laver, réparer un robinet, déboucher les
							toilettes), remplacer un battant de toilettes, assurer
							l'étanchéité, bricolage de douche ...</p>

						<a th:href="@{/afficheBricoleurs/{nomService}(nomService=${tp})}" class="btn btn-primary">Contact</a>
					<!-- 	@{'/VoirBricoleur/'+${ServicesBrico.bricoleur.id} -->
						
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<h4 class="text-center">Travaux de maçonnerie</h4>
				<div class="card">
					<img class="card-img-top" src="/api/images?background=maconnerie"
						alt="JSA Card image" />
					<div class="card-body">
						<h4 class="card-title">Bricolage de maçonnerie</h4>
						<p class="card-text">bricolage de mur (monter un petit mur de
							quelques moellons, boucher les trous d'un mur, boucher une
							fissure, réparer une fissure murale),...</p>

						<a  th:href="@{/afficheBricoleurs/{nomService}(nomService=${tma})}"  class="btn btn-primary">Contact</a>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<h4 class="text-center">Travaux d'électricité</h4>
				<div class="card">
					<img class="card-img-top" src="/api/images?background=electricite"
						alt="JSA Card image" />
					<div class="card-body">
						<h4 class="card-title">Bricolage d'électricité</h4>
						<p class="card-text">changer une ampoule, changer un fusible,
							changer une prise électrique), bricolage de luminaire (mettre un
							lustre au plafond) ...</p>

						<a  th:href="@{/afficheBricoleurs/{nomService}(nomService=${te})}"  class="btn btn-primary">Contact</a>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<h4 class="text-center">Travaux de menuiserie</h4>
				<div class="card">
					<img class="card-img-top" src="/api/images?background=menuisier"
						alt="JSA Card image" />
					<div class="card-body">
						<h4 class="card-title">Bricolage de menuiserie</h4>
						<p class="card-text">bricolage d'un parquet, bricolage du bois
							(raboter une porte), bricolage de porte (réparer une porte,
							améliorer son mécanisme, changer de charnières, remplacer le
							système de fermeture d'une porte),...</p>

						<a  th:href="@{/afficheBricoleurs/{nomService}(nomService=${tm})}"  class="btn btn-primary">Contact</a>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<h4 class="text-center">Travaux d'installation</h4>
				<div class="card">
					<img class="card-img-top" src="/api/images?background=montage"
						alt="JSA Card image" />
					<div class="card-body">
						<h4 class="card-title">Bricolage de mmontage</h4>
						<p class="card-text">bricolage de cuisine (fixer des éléments
							de cuisine), bricolage de salle de bain (fixer un élément de
							salle de bains), fixer un rideau de douche, bricolage d'une
							étagère (monter une étagère murale), bricolage de placard,
							montage et démontage de mobilier, installations diverses ...</p>

						<a th:href="@{/afficheBricoleurs/{nomService}(nomService=${ti})}"  class="btn btn-primary">Contact</a>
					</div>
				</div>
			</div>

			
		</div>
	</div>  
</body>
</html>