<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="/js/jqueryScript.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<title>les Bricoleurs</title>
<th:block th:include="layout/header"></th:block>

</head>



<body>

	<br>
	<div class="container">
		<h1  th:text="${nomServicee}" align="center"></h1>
	
		<h3 >Table des Bricoleurs</h3>
	

		<div class="row col-md-7 table-responsive">
			<table id="serviceTable" class="table">
				<thead>
					<tr>


						<th>Nom</th>
						<th>prenom</th>
						<th>ville</th>
						<th>numero telephone</th>
						
						

					</tr>
				</thead>
				<tbody>
					<tr th:each="bricoleur, rowStat: ${bricoleurs}"
						th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
						<td th:text="${bricoleur.nom}">Nom</td>
						<td th:text="${bricoleur.prenom}">prenom</td>
						<td th:text="${bricoleur.ville}">ville</td>
						<td th:text="${bricoleur.num}">num</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>