<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">

<head>
 <title>Login</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'></link>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body style="background-color: #F6F6F6">


<div>
 <div class="container">
     <form method="post" th:action="@{/profilBricoleur}" class="form-horizontal">
       <!--  <input type="hidden" name="action" value="login"></input> -->
        <h1 style="position:relative; left: 140px;">Login</h1>

        <div th:if="${Eror1}" style="position: absolute; top: 60px; left: 325px; width: 780px"
             class="alert alert-danger">il faut remplir les deux champs.
        </div>
        
         <div th:if="${Eror2}" style="position: absolute; top: 60px; left: 325px; width: 780px"
             class="alert alert-danger">mot passe et user name sont inccorect.
        </div>
        
         <div th:if="${Eror3}" style="position: absolute; top: 60px; left: 325px; width: 780px"
             class="alert alert-danger">mot de passe est inccorect.
        </div>
        
         <div th:if="${Eror4}" style="position: absolute; top: 60px; left: 325px; width: 780px"
             class="alert alert-danger">User Name  est inccorect.
        </div>
         

<br>
<br>
<br>
        <div class="form-group">
            <label for="login" class="col-sm-2 control-label">UserName</label>
            <div class="col-sm-5">
                <input type="text" name="userName"  class="form-control" id="login" placeholder="Enter login"></input>
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-5">
                <input type="password" class="form-control" name="password"   id="password"
                       placeholder="Enter Password"></input>
            </div>

            <div class="col-sm-offset-2 col-sm-5 " style="margin-top: 0.6%">
                <button type="submit" name="submit" class="btn btn-primary">Login</button>
            </div>

        </div>


    </form>
    </div>
    </div>
</body>
</html>