<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<title>les Services</title>
<th:block th:include="layout/Bricoleurheader"></th:block>

</head>



<body>

	<div class="container">
		<h1>Table des Services</h1>
		<div class="row col-md-7 table-responsive">
			<table id="Bricoleur Table" class="table">
				<thead>
					<tr> 
	
						
						<th>Nom de service</th>
						<th>description</th>
						<th>prix</th>
						<th>date de publication</th>
						<th>Heure de publication</th>
						<th>Actions</th>
						
						

					</tr>
				</thead>
				<tbody>
					<tr th:each="ServicesBrico, rowStat: ${ServicesBricos}"
						th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
						
						<td th:text="${ServicesBrico.nomService}">Nom de service</td>
						<td th:text="${ServicesBrico.description}">description</td>
						<td th:text="${ServicesBrico. prix}">prix</td>
						<td th:text="${ServicesBrico.date_publication}">date de publication</td>
						<td th:text="${ServicesBrico.date_publication_Heure}">date de publication_Heure</td>
						<td><a th:href="@{'/EditBricoleur/'+${ServicesBrico.id_service}+'/byOneBrico/'+${bricoleur.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a th:href="@{'/DeleteBricoleur/'+${ServicesBrico.id_service}+'/byOneBrico/'+${bricoleur.id}}">Delet</a></td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>